body {
  background-color: rgb(54, 211, 112);
}

h1, h2, h3 {
  font-family: sans-serif;
}

h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #83314f;
  background-color: #2bbbf8;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eacaca;

  /* Polka dot border */
  border: 5px solid transparent;
  border-image: radial-gradient(circle, #ff0000 10%, transparent 0);
  border-image-slice: 1;
}