/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #b87f46;
    background-color: #79d385;
  
  }
  
  /* Border image ref here: https://developer.mozilla.org/en-US/docs/Web/CSS/border-image */
  .special {
    border: 10px square rgb(177, 73, 64);
    border-image-source: url("../img/starborder.png");
    border-image-slice: 43%;
    border-image-repeat: square;
    border-image-outset: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(103, 139, 61);
    color: white;
    animation-name: sparkle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  .special a {
    color: rgb(205, 175, 238);
  }
  
  .special a:visited {
    color: rgb(216, 168, 112);
  }
  
  /* Special thanks w3schools https://www.w3schools.com/css/css3_animations.asp */
  @keyframes sparkle {
    0% {border-image-source: url("../img/starborder.png");
        border-image-outset: 5px;}
    25% {border-image-source: url("../img/starborder1.png");}
    50% {border-image-source: url("../img/starborder.png");
        border-image-outset: 7px;}
    75% {border-image-source: url("../img/starborder1.png");}
    100% {border-image-source: url("../img/starborder.png");
        border-image-outset: 5px;}
  }