/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #686060;
    background-color: #afa786;
  
  }
  
  /* Border image ref here: https://developer.mozilla.org/en-US/docs/Web/CSS/border-image */
  .special {
    border: 10px dotted rgb(174, 168, 107);
    border-image-source: url(".../img/bubble border png.png");
    border-image-slice: 33%;
    border-image-repeat: round;
    border-image-outset: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(77, 66, 149);
    color: rgba(255, 255, 255, 0.906);
    animation-name: sparkle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  .special a {
    color: rgb(89, 210, 210);
  }
  
  .special a:visited {
    color: rgb(142, 62, 89);
  }
  
  /* Special thanks w3schools https://www.w3schools.com/css/css3_animations.asp */
  @keyframes sparkle {
    0% {border-image-source: url(".../img/bubble border png.png");
        border-image-outset: 5px;}
    26% {border-image-source: url(".../img/bubble border png.png");}
    51% {border-image-source: url(".../img/bubble border png.png");
        border-image-outset: 7px;}
    76% {border-image-source: url(".../img/bubble border png.png");}
    99% {border-image-source: url(".../img/bubble border png.png");
        border-image-outset: 5px;}
  }