body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

#content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
    margin-top: 20px;
}

h3 {
    color: #2196F3;
}

p {
    color: #666;
}

#output {
    margin-top: 20px;
    padding: 10px;
    background-color: #eee;
    font-weight: bold;
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto; /* Add scrollbar if content exceeds max-height */
}

#input {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.linkbox {
    margin-top: 20px;
}

.homelink, .sourcelink {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.sourcelink {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
}

.sourcelink:hover {
    background-color: #45a049;
}