#output {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2; /* Light gray background for the output section */
    font-weight: bold;
    max-height: 200px;
    overflow-y: auto;
}

#output p {
    display: inline;
}

#output p:nth-child(odd) {
    color: red;
}

#output p:nth-child(even) {
    color: orange;
}

#output p:nth-child(3n) {
    color: yellow;
}

#output p:nth-child(4n) {
    color: green;
}

#output p:nth-child(5n) {
    color: blue;
}

#output p:nth-child(6n) {
    color: purple;
}