/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #e2e833;
    background-color: #77e0db;
  }

  h1{
    color: rgb(132, 192, 20);
    font-size: 300%;
  }

  p{
    text-indent: 20px;
    margin-left: 10px;
  }

  #content{
    background-color: lightseagreen;
    border: dotted 4px darkmagenta;
  }
  #my-portrait {
    width: 500px;
}