/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #209096;
    background-color: #bc7711;
  }

  h1{
    color: rgb(48, 48, 154);
    font-size: 300%;
  }

  p{
    text-indent: 20px;
    margin-left: 10px;
  }

  #content{
    background-color: lightcoral;
    border: dotted 4px darkorange;
  }